@use '../general/variables';
@use '../general/placeholders';
@use '../general/mixins';

.gift-card {
  @extend %transition-slow;
  display: flex;
  flex-direction: column;
  // display: block;
  max-width: 400px;
  // order: 1;
  min-width: 310px;
  min-height: 342px;
  background-color: variables.$color-content-background;
  border-radius: 20px;
  cursor: pointer;
  // bottom: auto;
  // margin: 0 6px;

  &_anim {
    // order: 1;
    transform: rotate3d(0, 1, 0, 90deg);
    // box-shadow: 10px 5px 5px rgb(0, 0, 0);
  }
  &_none {
    // order: 2;
    // min-height: 10px;
    // width: 10px;
    // height: 109px;
    display: none;
  }
  @media (hover: hover) {
    &:hover {
      color: variables.$color-primary;
    }
  }
  &__img {
    height: 230px;
    // width: 400px;
    // background-image: url('../../img/gifts/gift-for-work.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    // max-width: 310px;
    background-color: variables.$color-static-white;
    border-radius: 20px;
    padding: 20px;
    min-height: 112px;
    // word-wrap: break-word;
    gap: 8px;
  }
  &__h4 {
    @extend %header-4;
    // margin-bottom: 8px;
  }
  &__h3 {
    @extend %header-3;
    text-wrap: balance;
    width: min-content;
    min-width: fit-content;
  }
}

.modal {
  min-width: 364px;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  // margin: 0 8px;
  cursor: auto;
  @media (hover: hover) {
    &:hover {
      color: variables.$color-dark;
    }
  }
  &__cross {
    position: absolute;
    cursor: pointer;
    top: 11px;
    right: 13px;
    padding: 10px;
    width: 40px;
    height: 40px;
    @media (hover: hover) {
      &:hover > .modal__cross-line {
        border: rgba(24, 28, 41, 0.3) 1px solid;
      }
    }
    &-line {
      @extend %transition-slow;
      position: absolute;
      // z-index: 3;
      top: 50%;
      left: 12%;
      width: 30px;
      border: variables.$color-dark 1px solid;
      border-radius: 1px;
      &:first-child {
        rotate: 45deg;
      }
      &:last-child {
        rotate: -45deg;
      }
    }
  }
  &__descr {
    @extend %paragraph;
  }
  &__stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    .stats__header {
      @extend %header-4;
      margin-bottom: 8px;
    }
    .stat {
      // width: 100%;
      display: flex;
      justify-content: space-between;
      &__name {
        @extend %paragraph;
        text-transform: capitalize;
      }
      &__points-block {
        display: flex;
        gap: 12px;
      }
      &__points {
        @extend %paragraph;
      }
      &__stars-block {
        @include mixins.flex();
        gap: 8px;
      }
      &__star {
        background-image: url(../../src/img/ico/snowflake.svg);
        background-position: center;
        background-size: cover;
        width: 16px;
        height: 16px;
        // opacity: 0.1;
      }
    }
  }
}
.show-modal {
  left: 50%;
  // transform: rotate3d(90deg);
}

.hide-modal {
  left: 150%;
  // transform: rotate3d(190deg);
}
