@use '../general/variables';
@use '../general/placeholders';
@use '../general/mixins';

.nav {
  @extend %transition-fast;
  @include mixins.media() {
    position: absolute;
    // top: variables.$header-height;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: variables.$color-static-white;
    &_opened {
      // top: variables.$header-height;
      left: 0%;
    }
  }
  &__list {
    @include mixins.flex($justify-content: space-between);
    gap: 8px;
    @include mixins.media() {
      justify-content: center;
      flex-direction: column;
      height: calc(100dvh - variables.$header-height);
    }
  }
  &__link {
    @extend %transition-fast;
    @extend %action-small;
    border-radius: 12px;
    padding: 12px 20px;
    @include mixins.media() {
      display: block;
      @include mixins.font($height: 152%, $spacing: 0.16em);
    }
    @media (hover: hover) {
      &:hover {
        color: variables.$color-primary;
        background-color: variables.$color-primary-10;
      }
    }
    &_active {
      color: variables.$color-primary;
      background-color: variables.$color-primary-10;
      pointer-events: none;
    }
  }
}
