@use '../general/variables';
@use '../general/placeholders';
@use '../general/mixins';

.pageup {
  background-color: variables.$color-static-white;
  @extend %transition-fast;
  @include mixins.flex();
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  border: 1px solid variables.$color-primary;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  cursor: pointer;
  @include mixins.media() {
    display: flex;
  }
  .button-arrow path {
    stroke: variables.$color-primary;
  }
  @media (hover: hover) {
    &:hover {
      border-color: variables.$color-primary-40;
    }
    &:hover .button-arrow path {
      stroke: variables.$color-primary-40;
    }
  }
}

.arrow_up {
  rotate: -90deg;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}
