@use '../general/placeholders';
@use '../general/variables';

.page {
  @extend %transition-slow;
  // @extend %transition-fast;
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: auto;
  opacity: 0;
}

.main {
  //   opacity: 1;
  @extend %transition-slow;
  border-radius: 20px;
  background-color: variables.$color-primary;
}
