@use '../general/placeholders';

.page {
  // @extend %transition-fast;
  transition: all 0.15s ease-in-out;
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: auto;
  opacity: 0;
}
