@font-face {
  font-family: "Montserrat";
  src: url("../../src/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../src/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url("../../src/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.cta, .best, .slider, .about, .hero {
  background-color: #ff4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gifts__h1, .hero__h1 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.cta__h2, .best__h2, .slider__h2, .about__h2, .timer__h2 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.contact-card__h3, .gift-card__h3 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.timer__h4, .gift-card__h4 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.slider__text {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.contact-card__action {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.tabs .tab, .main-btn, .nav__link, .logo__text {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer .rss-link, .best__caption, .slider__caption, .about__caption, .hero__caption, .timer__caption {
  font-family: "Allura", Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: none;
}

.footer .copyright, .about__paragraph {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: normal;
  text-transform: none;
}

.footer .social-links__link, .footer .rss-link, .slider__clip, .tabs .tab, .contact-card, .main-btn, .slider-button, .button-arrow path, .pageup, .loading, .burger__line, .nav, .nav__link, .page {
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  border: none;
}

.page {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: auto;
  opacity: 0;
}

.hide-scroll {
  overflow-y: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  z-index: 1;
  gap: 8px;
}
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .nav_opened {
    left: 0%;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
@media (max-width: 768px) {
  .nav__list {
    justify-content: center;
    flex-direction: column;
    height: calc(100dvh - 64px);
  }
}
.nav__link {
  border-radius: 12px;
  padding: 12px 20px;
}
@media (max-width: 768px) {
  .nav__link {
    display: block;
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }
}
@media (hover: hover) {
  .nav__link:hover {
    color: #ff4646;
    background-color: rgba(255, 70, 70, 0.1019607843);
  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6.5px;
  }
}
.burger__line {
  width: 22px;
  border: 1px solid #181c29;
  border-radius: 1px;
}
.burger_opened {
  position: relative;
}
.burger_opened > .burger__line:first-child {
  position: absolute;
  rotate: -45deg;
}
.burger_opened > .burger__line:last-child {
  position: absolute;
  rotate: 45deg;
}

.loading {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #ff4646 #ff4646 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #181c29 #181c29;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: rgba(255, 70, 70, 0.1019607843) rgba(255, 70, 70, 0.1019607843) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.pageup {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  border: 1px solid #ff4646;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .pageup {
    display: flex;
  }
}
.pageup .button-arrow path {
  stroke: #ff4646;
}
@media (hover: hover) {
  .pageup:hover {
    border-color: rgba(255, 70, 70, 0.4);
  }
  .pageup:hover .button-arrow path {
    stroke: rgba(255, 70, 70, 0.4);
  }
}

.arrow_up {
  rotate: -90deg;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.main-btn {
  height: 56px;
  padding: 20px 32px;
  background-color: #181c29;
  border-radius: 20px;
  color: #ffffff;
}
@media (hover: hover) {
  .main-btn:hover {
    color: #181c29;
    background-color: #ffffff;
  }
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
@media (hover: hover) {
  .slider-button:hover {
    background-color: #ffffff;
  }
  .slider-button:hover .button-arrow path {
    stroke: #ff4646;
  }
}

.slider-button_inactive {
  border: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
  cursor: auto;
}
.slider-button_inactive .button-arrow path {
  stroke: rgba(255, 255, 255, 0.4);
}

.arrow_left {
  rotate: 180deg;
}

.gift-card {
  width: 310px;
  min-height: 342px;
  background-color: #ecf3f8;
  border-radius: 20px;
  cursor: pointer;
}
.gift-card__img {
  height: 230px;
}
.gift-card__descr {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  min-height: 112px;
}
.gift-card__h4 {
  margin-bottom: 8px;
}
.purple {
  color: #4361ff;
}

.pink {
  color: #ff43f7;
}

.green {
  color: #06a44f;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  min-height: 104px;
  gap: 8px;
}
.timer__caption {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer__block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8px 12px 12px;
}
.timer__h2 {
  width: 100%;
  text-align: center;
}
.timer__h4 {
  text-align: center;
}
.timer__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 80px;
}
.timer__cell:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.contact-card {
  background-color: #ecf3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  min-width: 417.33px;
  border-radius: 20px;
  padding: 20px;
  gap: 12px;
}
.contact-card__img {
  width: 80px;
  height: 80px;
}
@media (hover: hover) {
  .contact-card:hover {
    color: #ff4646;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.tabs .tab {
  color: #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  max-height: 40px;
  cursor: pointer;
}
.tabs .tab_selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 82px;
}
@media (max-width: 768px) {
  .header {
    padding: 12px 8px;
  }
}

.hero {
  background-image: url("../img/bg/bg-ball.png"), url("../img/bg/bg-snow.png");
  border-radius: 20px 20px 0 0;
  padding: 60px 0;
}
.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;
  padding: 60px 0;
  margin: auto;
  gap: 12px;
  max-width: 429px;
}
.hero__h1 {
  text-align: center;
}

.about {
  background-image: url("../img/bg/bg-snow.png");
  padding: 60px 5.695%;
}
@media (max-width: 768px) {
  .about {
    padding: 60px 8px;
  }
}
.about__container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
@media (max-width: 640px) {
  .about__container {
    flex-direction: column;
  }
}
.about__content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60px;
  padding-right: 11.9132%;
  gap: 20px;
}
@media (max-width: 768px) {
  .about__content {
    padding: 46px 60px;
  }
}
@media (max-width: 640px) {
  .about__content {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .about__content {
    padding: 60px 20px;
  }
}
.about__caption {
  color: #ff4646;
}
.about__img {
  background-image: url("../img/about/santa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 528px;
  width: 50%;
}
@media (max-width: 640px) {
  .about__img {
    width: 100%;
  }
}

.slider {
  background-image: url("../img/bg/bg-snow.png");
  padding: 60px 0;
}
.slider__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slider__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.slider__caption {
  color: #ffffff;
}
.slider__h2 {
  color: #ffffff;
}
.slider__row {
  position: relative;
  height: 200px;
}
.slider__clip {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  margin: 0 5.695%;
  width: 1993px;
  height: 200px;
  gap: 20px;
  left: 0px;
  top: 0;
}
@media (max-width: 768px) {
  .slider__clip {
    margin: 0 8px;
  }
}
.slider__text {
  color: #ffffff;
}
.slider__img {
  width: 200px;
  border-radius: 20px;
}
.slider__btns {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 5.695%;
  gap: 20px;
}
@media (max-width: 768px) {
  .slider__btns {
    padding: 0 8px;
  }
}

.best {
  background-image: url("../img/bg/bg-snow.png");
  padding: 60px 8px;
}
.best__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.best__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.best__caption {
  color: #ffffff;
}
.best__h2 {
  color: #ffffff;
}
.best__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.cta {
  background-image: url("../img/bg/bg-snow.png"), url("../img/bg/bg-forest.png");
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 5.695%;
  min-height: 668px;
}
@media (max-width: 768px) {
  .cta {
    padding: 60px 8px;
  }
}
@media (max-width: 640px) {
  .cta {
    min-height: 704px;
  }
}
.cta__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.cta__h2 {
  max-width: 426px;
  text-align: center;
  color: #ffffff;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 8px;
  gap: 60px;
}
.footer .contact-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.footer .contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer .social-links__link {
  padding: 8px;
}
@media (hover: hover) {
  .footer .social-links__link:hover {
    opacity: 0.5;
  }
}
@media (hover: hover) {
  .footer .rss-link:hover {
    opacity: 0.5;
  }
}

.gifts {
  background-image: url("../img/bg/bg-garland.png");
  background-color: #ff4646;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border-radius: 20px;
  padding: 60px 5.695%;
}
.gifts__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.gifts__h1 {
  max-width: 426px;
  text-align: center;
  color: #ffffff;
}
.gifts__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

/*# sourceMappingURL=main.css.map */
