@font-face {
  font-family: "Montserrat";
  src: url("../../src/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../src/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url("../../src/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header .logo__text, .header .nav__link {
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.loading, .burger, .header .nav__link, .page {
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  border: none;
}

.page {
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  margin: auto;
  opacity: 0;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 82px;
}
@media (max-width: 768px) {
  .header {
    padding: 12px 8px;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  gap: 8px;
}
@media (max-width: 768px) {
  .header .nav {
    position: absolute;
    top: 64px;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
}
.header .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
@media (max-width: 768px) {
  .header .nav__list {
    justify-content: center;
    flex-direction: column;
    height: calc(100dvh - 64px);
  }
}
.header .nav__link {
  border-radius: 12px;
  padding: 12px 20px;
}
@media (max-width: 768px) {
  .header .nav__link {
    display: block;
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }
}
@media (hover: hover) {
  .header .nav__link:hover {
    color: #ff4646;
    background-color: rgba(255, 70, 70, 0.1019607843);
  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6.5px;
  }
}
.burger__line {
  width: 22px;
  border: 1px solid #181c29;
  border-radius: 1px;
}
.burger__opened {
  position: relative;
}
.burger__opened > .burger__line:first-child {
  position: absolute;
  rotate: -45deg;
}
.burger__opened > .burger__line:last-child {
  position: absolute;
  rotate: 45deg;
}

.loading {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #ff4646 #ff4646 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #181c29 #181c29;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: rgba(255, 70, 70, 0.1019607843) rgba(255, 70, 70, 0.1019607843) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
