@use '../general/variables';
@use '../general/placeholders';
@use '../general/mixins';

.cta {
  background-image: url('../img/bg/bg-snow.png'), url('../img/bg/bg-forest.png');
  border-radius: 0 0 20px 20px;
  @include mixins.flex();
  padding: 60px 5.695%;
  @extend %section-bg;
  min-height: 668px;
  @include mixins.media() {
    padding: 60px 8px;
  }
  @include mixins.media($screen-width: variables.$bigmob-width) {
    min-height: 704px;
  }
  &__content {
    @include mixins.flex();
    flex-direction: column;
    // padding: 60px 0;
    // margin: 60px 0;
    gap: 20px;
  }
  &__h2 {
    max-width: 426px;
    // max-height: 108px;
    // line-height: 150%;
    text-align: center;
    @extend %header-2;
    color: variables.$color-static-white;
    @include mixins.media($screen-width: variables.$bigmob-width) {
      // max-height: 144px;
      // max-width: 364px;
    }
  }
}
