$first-family: 'Montserrat', Verdana, sans-serif;
$second-family: 'Allura', Verdana, sans-serif;

$color-primary: #ff4646;
$color-primary-40: #ff464666;
$color-primary-10: #ff46461a;
$color-dark: #181c29;
$color-static-white: #ffffff;
$color-static-white-20: #ffffff33;
$color-static-white-40: #ffffff66;
$color-content-background: #ecf3f8;
$color-tag-purple: #4361ff;
$color-tag-pink: #ff43f7;
$color-tag-green: #06a44f;

$header-height: 64px;

$tablet-width: 768px;
$bigmob-width: 640px;
$mobile-width: 380px;
// $laptop-width: 1280px;
// $midtop-width: 1250px;
// $lowtop-width: 1130px;
// $medium-width: 960px;
// $tablow-width: 767px;
// $midmob-width: 480px;
